.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-1);
}

.hero-item {
    width: 30%;
    padding: 16px;
    color: var(--highlight-color-1);
}

.hero-item p {
    margin-top: 0.8rem;
    
}

.hero-item button {
    margin-top: 0.8rem;
}



.hero-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.special {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
}

.special-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    width: 75%;
    margin-top: 16px;
}

/* Testimonial Section */

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
    gap: 32px;
}



.testimonial-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;

}

.testimonial-item > h1 {
   margin: 0 auto;
}


/* About Section */
.about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color-2);
    padding: 32px 0;
}

.about-item {
    width: 30%;
    padding: 20px;
}

.about-item:last-child {
    position: relative;
    height: 400px;
}

.about-item > img {
    position: absolute;
}

.image-one {
    top: 50px;
    right: 70px;
    width: 300px;
    transition: z-index 1s ease, transform 3s ease;
}

.image-two {
    top: 170px;
    right: 190px;
    z-index: 1;
    width: 300px;
    transition: transform 3s ease;
}

.image-one:hover {
    z-index: 2;
    transform: scale(1.5);
}

.image-two:hover {
    transform: scale(1.5);
}

@media screen and (max-width: 1024px){

    .special-item {
        width: 95%;
    }

    .testimonial-item {
        width: 95%;
    }

    /* .about {
        justify-content: space-between;
    } */

    .about-item {
        width: 45%;
    }

    .image-one {
        top: 30px;
        right: 50px;
        width: 250px;
        transition: z-index 1s ease, transform 3s ease;
    }
    
    .image-two {
        top: 150px;
        right: 170px;
        z-index: 1;
        width: 250px;
        transition: transform 3s ease;
    }
    
    .image-one:hover {
        z-index: 2;
        transform: scale(1.1);
    }
    
    .image-two:hover {
        transform: scale(1.1);
    }
    
}

@media screen and (max-width: 768px) {

    .image-one {
        top: 50px;
        right: 40px;
        width: 200px;
    }
    
    .image-two {
        top: 140px;
        right: 120px;
        z-index: 1;
        width: 200px;
    }
}

@media screen and (max-width: 500px) {
    .hero {
        flex-direction: column;
    }
    
    .hero-item {
        width: 100%;
        padding: 0.8rem;
    }

    .special-item:nth-last-child(1){
        flex-direction: column;
        gap: 24px;
    }

    .testimonial-item:nth-last-child(1) {
        flex-direction: column;
        gap: 1rem;
    }

    .about {
        flex-direction: column;
    }

    .about-item {
        width: 75%;
    }
}






