.button {
    padding: 12px;
    background-color: var(--primary-color-2);
    color: var(--highlight-color-2);
    border: none;
    border-radius: 5px;
}

.button:hover {
    color: var(--highlight-color-1);
    background-color: var(--highlight-color-2);
    cursor: pointer;
}