/* Shared Properties */
.card {
    border: 1px solid #000;
    height: auto;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Special Card Styles */

.special-card {
    width: 250px;
    box-shadow: #000;
}




/* Testimonial Card Styles */

.testimonial-card {
    flex: 0 0 auto;
    width: 200px;
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.testimonial-card::-webkit-scrollbar {
    display: none;
}
